RewriteEngine On

# Redirect all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Allow access to assets
RewriteCond %{REQUEST_URI} ^/assets/
RewriteRule ^(.*)$ - [L]

# Allow access to uploads
RewriteCond %{REQUEST_URI} ^/uploads/
RewriteRule ^(.*)$ - [L]
